.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  &__tag_top {
    font-family: cursive;
    font-style: italic;
    color: #576574;
    font-size: 0.8em;
  }
  &__tag_top:after {
    content: '<body>';
    font-family: cursive;
    font-style: italic;
    color: #576574;
    font-size: 0.8rem;
    position: absolute;
    margin-left: 2rem;
  }
  &__tag_bottom{
    font-family: cursive;
    font-style: italic;
    color: #576574;
    font-size: 0.8em;
  }
  &__tag_bottom:before{
    content: '</body>';
    font-family: cursive;
    font-style: italic;
    color: 576574;
    font-size: 0.8rem;
    position: absolute;
    margin-left: 2rem;
  }
  &__main-container {
    min-height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    &__side{
      display: flex;
      flex-direction: row;
      margin-bottom: 80px;
      margin-top: 50px;
    }
    &__pages{
      margin: auto;
    }
  }
}
