.header{
    font-family: 'roboto';
    font-style: normal;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 100%;
}