.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 65%;
    &:before{
        content: '<NavLink>';
        font-family: cursive;
        font-style: italic;
        color: #576574;
        font-size: 0.8em;
        margin-top: 0em;
    }
    &__ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none;
        &__link{
            text-decoration: none;
            color: white;
            font-size: 1.5em;
            margin-left: 30px;
            margin-right: 30px;
        }
        &__link.active{
            padding: 5px 30px;
            border: solid 2px RGBA(87,101,116,0.24);
        }
    }&:after{
        content: '</Navlink>';
        font-family: cursive;
        font-style: italic;
        color: #576574;
        font-size: 0.8em;
        margin-top: 3em;
        margin-left: 2em;
    }
}