.about{
    display: flex;
    margin: 0;
    background-color: RGBA(87,101,116,0.08);
    height: 350px;
    width: 800px;
    &__tag-top{
        font-family: cursive;
        font-style: italic;
        color: #576574;
        position: relative;
        font-size: 0.8em;
        margin-top: -2em;
        left: -2em;
    }
}