.contact{
    display: flex;
    margin: 0;
    &__tag-top{
        font-family: cursive;
        font-style: italic;
        color: #576574;
        font-size: 0.8rem;
        margin-top: -5em;
        left: -1.5em;
    }
}